 @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dancing+Script:wght@600&family=Montserrat&family=Nunito:wght@700&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Condensed&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dancing+Script:wght@600&family=Montserrat&family=Nunito:wght@700&family=Poppins&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Condensed&display=swap');

 :root {
     --Text-Color-Neutral: #909090;
     --Text-Color-Neutral-2: #D3D3D3;
     --Text-Color-White: #fff;
     --bg-black: #212121;
     --roboto: "Roboto", "sans-serif";
     --roboto-slab: "Roboto Slab", serif;

 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: var(--roboto);
 }

 a {
     color: white;
 }

 body {
     max-width: 100%;
     overflow-x: hidden;
     display: flex;
     background: var(--bg-black);
     color: var(--Text-Color-White);
     flex-direction: column;
     align-items: flex-start;


     padding: 6.875rem 16rem;

 }

 .mb5 {
     margin-bottom: 5rem;
 }

 .container {
     max-width: 100%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 5rem;
     align-self: stretch;

 }

 .section {
     display: flex;
     max-width: 100%;

     flex-direction: column;
     align-items: flex-start;
     gap: 1.5rem;
     align-self: stretch;


 }

 .gap5 {
     gap: 5rem;
 }
 
 .heading-text {
    
     font-size: 2rem;
     font-style: normal;
     font-weight: 400;
     line-height: 3rem;
     color: var(--Text-Color-Neutral);
     font-family: var(--roboto-slab);
     max-width: 100%;

     .heading-text-white {
         color: var(--Text-Color-White);
         font-family: var(--roboto-slab);

     }
 }

 .para {
     flex: 1 0 0;
     color: var(--Text-Color-Neutral, #909090);
     font-family: var(--roboto);
     font-size: 1.25rem;
     font-style: normal;
     font-weight: 400;
     line-height: 2.25rem;
     max-width: 100%;

 }






 //  footer section 

 .footer {
     display: flex;
     width: 100%;
     justify-content: space-between;

     div {
         display: flex;
         gap: 2.35rem;
         padding-bottom: 5rem;
     }
 }

 //for the scrollbar

 ::-webkit-scrollbar {
     width: 0px;
 }

 /* For Firefox */
 html {
     scrollbar-width: none;
 }


 //for glow effect
 .glow {
     text-decoration: underline;
     text-decoration-style: wavy;
     text-decoration-thickness: 1px;
     text-underline-offset: 4px;
     text-decoration-color: var(--Text-Color-Neutral);

 }

 .glow:hover {

     text-decoration-color: white;
     text-decoration-thickness: 2px;




 }

 .para-head {
     color: var(--Text-Color-Neutral);
     font-family: var(--roboto-slab);
     font-size: 1rem;
     font-style: normal;
     margin-bottom: 3rem;

     opacity: 0.5;
     align-self: stretch;
 }


@media (max-width:965px) {
    body{
        padding: 6.875rem 10rem;
    }
}

@media (max-width:820px) {
    body{
        padding: 6.875rem 6rem;
    }
}

@media (max-width:655px) {
    body{
        padding: 6.875rem 4rem;
    }
}

@media (max-width:610px) {
    body{
        padding: 6.875rem 2rem;
    }
}

@media (max-width:530px) {
    body{
        padding: 6.875rem 1rem;
    }
    .section{
        align-items: center;
    }
}

@media (max-width:500px) {
    body{
        padding: 6.875rem .5rem;
    }
}











 //Responsiveness at 360px mobile view

 @media (max-width:400px) {
     body {

     
        padding: 6.875rem 1rem;

         max-width: 100%;
        
    

     }

     a,
     p,
     .heading-text {
         max-width: 100%;
     }
 }

 @media (max-width:300px) {
    body{
        padding: 6.875rem .1rem;
    }
 }